body {
  color: black;
  background-color: #f5d1b8
}

.fondoBody {
  background-color: #f5d1b8
}

.NavBar {
  color: white;
  background-color: chocolate;
  align-items: center;
  padding: 0.5rem;
}

.FontProducto {
  font-family: 'Explora', cursive;
  font-size: 2rem;
}

.FontDetalle {
  font-family: 'Rowdies', cursive;
}

.FontDetalleTitulo {
  font-family: 'Rowdies', cursive;
  color: rgb(255, 95, 37); 
}

.BorderImg {
  border: coral;
}

.buttonFinalizar:hover {
  color: black;
  font-weight: bold;
}

